extends ../layoutCRUD

block content
  .masthead-usuario-create
    .container(style='padding-top: 140px;')
      .row.justify-content-md-center(style='padding-top: 30px;')
        .col-md-4.col-sm-6.col-12
          if info && info.message 
            div.alert.alert-danger=info.message 
          h2.text-center Login
          p Por favor, ingrese su email and password

          form#Login(action='/session/login' method='post')
            .form-group
              input#username.form-control(type='email' placeholder='Email Address' name="username")
            .form-group
              input#password.form-control(type='password' placeholder='Password' name="password")
            a(href='/session/forgotPassword') Olvidé mi password
            br
            br
            a.btn.btn-primary.btn-block(href='/auth/google') Log In con Google
            br
            br
            button.btn.btn-light.btn-block(type='submit') Login
    br
    br
    br
    br
    br

