extends ../layoutCRUD

block content

  .masthead-usuario-create
    .container(style='padding-top: 140px;')
      .row.justify-content-md-center(style='padding-top: 30px;')
        .col-md-4.col-sm-6.col-12
          if info && info.message 
            div.alert.alert-danger
              = info.message
          h2 Cambio de password
          p Por favor, ingrese su clave
          form#Login(action='/session/resetPassword' method='post')
            input#email(type='hidden' name='email' value= usuario.email)
            .form-group
              label(for='pwd') Password: 
              input#pwd.form-control(type='password' name='password' class= errors.password ? 'is-invalid' : '')
              if errors.password
                  small#passwordHelp.text-danger
                    = errors.password.message  
            .form-group
              label(for='confirm_pwd') Confirmar Password: 
              input#confirm_pwd.form-control(type='password' name='confirm_password' class= errors.confirm_password ? 'is-invalid' : '')
              if errors.confirm_password
                  small#confirm_passwordHelp.text-danger
                    = errors.confirm_password.message  
            br
            button.btn.btn-light.btn-block(type='submit') Login
    br
    br
    br
    br
    br
    br
    br
