extends ../layoutCRUD

block content
    .masthead-bicicleta-create
        .container(style='padding-top: 140px;')
            a.btn.btn-light(href='/bicicletas') Volver
            .row.justify-content-md-center(style='padding-top: 30px;')
                .col-md-6.col-sm-12
                    form(action='/bicicletas/create' method='post')
                        .form-group 
                            h1.text-center
                                small Nueva Bicicleta
                        .form-group 
                            label(for='id') Code
                            input#id.form-control(type='text' name='id')
                        .form-group 
                            label(for='color') Color
                            input#color.form-control(type='text' name='color')
                        .form-group 
                            label(for='modelo') Modelo
                            input#modelo.form-control(type='text' name='modelo')
                        .form-group 
                            label(for='lat') Latitud
                            input#lat.form-control(type='text' name='lat')
                        .form-group 
                            label(for='lng') Longitud
                            input#lng.form-control(type='text' name='lng')
                        .form-group 
                            input.btn.btn-light.btn-block(type='submit' value='CREAR')
                        br
                        br
                        br